<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netdisk.mapper.FileMapper">

    <select id="findAllByUsername" parameterType="com.netdisk.entity.User" resultType="com.netdisk.entity.File">
        select * from files where username = #{username}
    </select>

    <select id="getSomeFilesByIds" parameterType="java.lang.String" resultType="com.netdisk.entity.File">
        select `id`,`username`,`name`,`detail`,`size`,`type` from files where `id` in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="findFileInfoById" parameterType="com.netdisk.entity.File" resultType="com.netdisk.entity.File">
        select * from files where `id` = #{id}
    </select>

    <select id="findPublicFile" resultType="com.netdisk.entity.File">
        select * from files where `isPublic` = true
    </select>

    <select id="findFileInfoByPath" parameterType="com.netdisk.entity.File" resultType="com.netdisk.entity.File">
        select * from files where `path` = #{path}
    </select>

    <insert id="insertFileInfo" parameterType="com.netdisk.entity.File">
        insert files (`id`,`username`,`name`,`detail`,`size`,`type`,`path`,`isPublic`,`date`,`time`)
        values (#{id},#{username},#{name},#{detail},#{size},#{type},#{path},#{isPublic},curdate(),curtime())
    </insert>

    <update id="updateFileInfo" parameterType="com.netdisk.entity.File">
        update files
        <set>
            <if test="name!=null">
                `name` = #{name},
            </if>
            <if test="detail!=null">
                `detail` = #{detail},
            </if>
            <if test="path!=null">
                `path` = #{path},
            </if>
            <if test="isPublic!=null">
                `isPublic` = #{isPublic},
            </if>
        </set>
        where `id` = #{id}
    </update>

    <delete id="deleteFileInfo" parameterType="com.netdisk.entity.File">
        delete from files where
        <if test="id!=null">
            `id` = #{id}
        </if>
        <if test="path!=null">
            `path` = #{path}
        </if>
    </delete>

</mapper>
